
.wsUnselectable *
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wsUnselectable *::-moz-selection, .wsUnselectable *::selection
{
    background: transparent;
}

.wsScrollTrack
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 9px;
    border-radius: 3px;
    background: #111;
}

.wsScrollBar
{
    position: absolute;
    width: 9px;
    border-radius: 3px;
    right: 0px;
    background: #2a343f;
}

.wsScrollBar:hover,
.wsScrollBar.wsHover
{
    background: #45525f;
}